/* VARIABLES IN USE:


*/

body {
  background-color: var(--dark-bg-color);
}

#user-input {
  color: #ddd;
}

progress {
  background-color: var(--dark-bg-color) !important;
  color: var(--dark-bg-color);
  /* color: white; */
}

progress::-moz-progress-bar {
  /* background: var(--dark-bg-color); */

  /* color: var(--dark-prog-bar-value-color); */
} 

progress::-webkit-progress-bar {
  background-color: var(--dark-bg-color) !important;

  color: var(--dark-bg-color);
} 

progress::-webkit-progress-value {
  background-color: var(--text-color) !important;

  color: var(--dark-bg-color);
} 


.input-wrapper {
  background-color: var(--dark-form-bg-color);
}

#characterCount {
  color: var(--dark-character-count-color);
}

#menu {
  background: #8a898b;
}

#prompt {
  /*color:   #383831;*/
  color: #878688;
}

#stats {
  background-color: #777678;
}

#stats .btn-default {
  background-color: #a29fa9;
}

#done {
  background-color: #2c2c2e;
  color: #404145;
}
