App {
  /* background-color: var(--light-bg-color); */
  /* background-color: #626262; */
}

#user-input {
  color: var(--light-text-color);
}

.input-wrapper {
  background-color: var(--light-form-bg-color);
}

#menu {
  background: #c9c9c9;
}

#stats {
  background-color: #d3d3d3;
}

#done {
  background-color: #bdbdbd;
  color: #626262;
}

progress {
  background: var(--light-prog-bar-color);
  color: var(--light-prog-bar-value-color);
}
