:root {
  /* Dark Theme */
  --dark-bg-color: rgb(29, 35, 88);
  --dark-text-color: black;
  --dark-prog-bar-color: #34366b;
  --dark-prog-bar-value-color: white;
  --dark-character-count-color: white;
  --text-color: white;
  /* color: white; */
}


body {
  /* background-color: var(--main-bg-color-dark); */
  background-color: var(--dark-bg-color);
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}



h2 {
  color: white;
}

a:hover {
  text-decoration: none;
}


.btn {
  background-color: rgb(36, 44, 114); /* Green */
  position: relative;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: lowercase;
  display: inline-block;
  font-size: .9em;
  opacity: .4;
  transition: .5s;

}

.btn:hover {
  opacity: 1;
  transition: .5s;

}

.stats {
  /* padding: 50px;
  justify-content: center;
 
 
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 2345;
  border-radius: 10px; */
  /* width: 60%; */
  padding-right: 20%;
  padding-left: 20%;
  right: 20%;
  left: 20%;

  /* left: 50%; */
  position: fixed;
  bottom: 25%;
  /* margin: 0 auto; */


}

.stats p {
  text-align: left;
}
.stats p span {
  float: right;
}

.stats ul {
  list-style-type: none;
position: fixed;
  margin-top: 10vh;
  /* margin-top: 200px; */
  transition: 2s;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

li span {
  font-weight: 800;
  margin: .5em;
}

.stats li {

  /* margin-left: 20px; */
  /* float: left; */
  float: none;

}


progress {
  border: none;
  width: 100%;
  position: absolute;
  height: 2%;
  z-index: -1;
}

.input-wrapper {
  width: 100%;
  position: fixed;
}

input {
  position: fixed;
  top: 30vh
}

input::placeholder {
  color:white;
  opacity: .3;
}


.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Footer>a {
  font-size: 30px;
  float: none;
  padding: 20px;
  display: block;
  opacity: 0.30;
  transition: .5s
}

.Footer>a:hover {
  opacity: 1;
  transition: .5s
}

.Footer {
  display: flex;
  margin-top: 70vh
}

input.main,
.centered {
  color: #ddd;
  border: none;
  padding: 0;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 0;
  outline: none;
  width: 60%;
  font-size: 3.5rem;
  line-height: 3em;
  font-family: Roboto, Arial, sans-serif;
  background-color: transparent;
  margin-bottom: 10px;
  text-align: center;
}

.centered {
  font-size: 15px
}





a {
  text-decoration: none;
  color: white;
  transition: color 0.1s ease;
}

a:hover {
  color: #9b9b9b;
}